smart_stroage.json
[
    {
        "id": "8b3b89aa2d372c7d",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0240e3540bbf4a88",
        "type": "mysql",
        "z": "8b3b89aa2d372c7d",
        "mydb": "54a36c41ac4d5184",
        "name": "",
        "x": 880,
        "y": 220,
        "wires": [
            [
                "3923c7facbc21cf0"
            ]
        ]
    },
    {
        "id": "4692bfd708c67f83",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 7",
        "func": "var data1 = msg.payload[\"Item List\"];\nvar data2 = msg.payload[\"Item Number\"];\nvar data3 = msg.payload[\"Item Location\"];\nvar data4 = msg.payload[\"Item Remark\"];\nvar data5 = msg.payload[\"Item Image\"] ? 1 : 0;\nvar data6 = msg.filepath;\nvar data7 = msg.idfilename;\nmsg.topic = \"form data\";\nmsg.topic = `INSERT INTO list_setup(idlist, idnum, idloc, idremark, idimage, idpath, idfilename) VALUES('${data1}', '${data2}', '${data3}', '${data4}', '${data5}', '${data6}', '${data7}');`\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 220,
        "wires": [
            [
                "0240e3540bbf4a88"
            ]
        ]
    },
    {
        "id": "76a8a238abe67630",
        "type": "ui_form",
        "z": "8b3b89aa2d372c7d",
        "name": "",
        "label": "",
        "group": "9a2d356c88f8dd7c",
        "order": 1,
        "width": 10,
        "height": 1,
        "options": [
            {
                "label": "Item List",
                "value": "Item List",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Item Number",
                "value": "Item Number",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Item Location",
                "value": "Item Location",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Item Remark",
                "value": "Item Remark",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Item image",
                "value": "Item Image",
                "type": "checkbox",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Item List": "",
            "Item Number": "",
            "Item Location": "",
            "Item Remark": "",
            "Item Image": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "83480bad19c394cd",
                "a9b424937211bd87"
            ]
        ]
    },
    {
        "id": "30bec7922e25a771",
        "type": "ui_template",
        "z": "8b3b89aa2d372c7d",
        "group": "9a2d356c88f8dd7c",
        "name": "",
        "order": 9,
        "width": 10,
        "height": 1,
        "format": "<div>\n    \"Stevens EAS Storage Management Program\"\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 540,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6ca2f7f48a5bbcf1",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 8",
        "func": "msg.topic = `SELECT * FROM list_setup;`\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 380,
        "wires": [
            [
                "6d4f6378daac5ce4"
            ]
        ]
    },
    {
        "id": "6d4f6378daac5ce4",
        "type": "mysql",
        "z": "8b3b89aa2d372c7d",
        "mydb": "54a36c41ac4d5184",
        "name": "",
        "x": 620,
        "y": 380,
        "wires": [
            [
                "e26528bb2e4488b7"
            ]
        ]
    },
    {
        "id": "e26528bb2e4488b7",
        "type": "ui_table",
        "z": "8b3b89aa2d372c7d",
        "group": "3d0eceddfa2a7742",
        "name": "",
        "order": 1,
        "width": 10,
        "height": 8,
        "columns": [
            {
                "field": "idlist",
                "title": "List",
                "width": "30%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "idnum",
                "title": "Quantity",
                "width": "20%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "idloc",
                "title": "Location",
                "width": "20%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "idremark",
                "title": "Remark",
                "width": "20%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "idimage",
                "title": "Image",
                "width": "10%",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1390,
        "y": 380,
        "wires": [
            [
                "709586adf367058a"
            ]
        ]
    },
    {
        "id": "f5dab893299a5611",
        "type": "ui_form",
        "z": "8b3b89aa2d372c7d",
        "name": "",
        "label": "",
        "group": "3dcbe76f309aa8a6",
        "order": 1,
        "width": 10,
        "height": 1,
        "options": [
            {
                "label": "Item List",
                "value": "Item List",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Item Number",
                "value": "Item Number",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Item Location",
                "value": "Item Location",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Item Remark",
                "value": "Item Remark",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "Item List": "",
            "Item Number": "",
            "Item Location": "",
            "Item Remark": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 610,
        "y": 420,
        "wires": [
            [
                "312b16a00b030747"
            ]
        ]
    },
    {
        "id": "fa26210a2b281952",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 9",
        "func": "msg.payload[\"Item List\"] = msg.payload.idlist;\nmsg.payload[\"Item Number\"] = msg.payload.idnum;\nmsg.payload[\"Item Location\"] = msg.payload.idloc;\nmsg.payload[\"Item Remark\"] = msg.payload.idremark;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 420,
        "wires": [
            [
                "f5dab893299a5611"
            ]
        ]
    },
    {
        "id": "d2ae0fadbb00f850",
        "type": "mysql",
        "z": "8b3b89aa2d372c7d",
        "mydb": "54a36c41ac4d5184",
        "name": "",
        "x": 920,
        "y": 420,
        "wires": [
            [
                "e3886be54e1a2fba"
            ]
        ]
    },
    {
        "id": "312b16a00b030747",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 11",
        "func": "var id_num = global.get(\"id\");\nvar data1 = msg.payload[\"Item List\"];\nvar data2 = msg.payload[\"Item Number\"];\nvar data3 = msg.payload[\"Item Location\"];\nvar data4 = msg.payload[\"Item Remark\"];\nmsg.topic = `REPLACE INTO list_setup(id,idlist,idnum,idloc,idremark) VALUES('${id_num}','${data1}','${data2}','${data3}','${data4}');` \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 420,
        "wires": [
            [
                "d2ae0fadbb00f850"
            ]
        ]
    },
    {
        "id": "3f15f8ad25ddd253",
        "type": "mysql",
        "z": "8b3b89aa2d372c7d",
        "mydb": "54a36c41ac4d5184",
        "name": "",
        "x": 920,
        "y": 460,
        "wires": [
            [
                "e3983c7125891788"
            ]
        ]
    },
    {
        "id": "a6ccd63ac463a904",
        "type": "ui_button",
        "z": "8b3b89aa2d372c7d",
        "name": "",
        "group": "3dcbe76f309aa8a6",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Delete the row",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "button",
        "topicType": "str",
        "x": 600,
        "y": 460,
        "wires": [
            [
                "b7e75f2c76ebabf5"
            ]
        ]
    },
    {
        "id": "b8a2184ce04960ee",
        "type": "comment",
        "z": "8b3b89aa2d372c7d",
        "name": "Insert data to the table",
        "info": "",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "aa3093d4190b57b5",
        "type": "comment",
        "z": "8b3b89aa2d372c7d",
        "name": "Edit the contents in the database",
        "info": "",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "20299dd009eaff5d",
        "type": "comment",
        "z": "8b3b89aa2d372c7d",
        "name": "Delete the row",
        "info": "",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "b7e75f2c76ebabf5",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 12",
        "func": "var id_num = global.get(\"id\");\nmsg.topic = 'DELETE FROM list_setup WHERE id ='+ (id_num) +';';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 460,
        "wires": [
            [
                "3f15f8ad25ddd253"
            ]
        ]
    },
    {
        "id": "e3886be54e1a2fba",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 13",
        "func": "msg.topic = `SELECT * FROM list_setup;`\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 420,
        "wires": [
            [
                "b7cd2096081a997c"
            ]
        ]
    },
    {
        "id": "b7cd2096081a997c",
        "type": "mysql",
        "z": "8b3b89aa2d372c7d",
        "mydb": "54a36c41ac4d5184",
        "name": "",
        "x": 1220,
        "y": 420,
        "wires": [
            [
                "e26528bb2e4488b7",
                "b477540e831d145d"
            ]
        ]
    },
    {
        "id": "3923c7facbc21cf0",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 14",
        "func": "msg.topic = `SELECT * FROM list_setup;`\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "1f48b4074022608b"
            ]
        ]
    },
    {
        "id": "1f48b4074022608b",
        "type": "mysql",
        "z": "8b3b89aa2d372c7d",
        "mydb": "54a36c41ac4d5184",
        "name": "",
        "x": 1180,
        "y": 220,
        "wires": [
            [
                "e26528bb2e4488b7",
                "b477540e831d145d"
            ]
        ]
    },
    {
        "id": "e3983c7125891788",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 15",
        "func": "msg.topic = `SELECT * FROM list_setup;`\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 460,
        "wires": [
            [
                "bd6779781aebeb73"
            ]
        ]
    },
    {
        "id": "bd6779781aebeb73",
        "type": "mysql",
        "z": "8b3b89aa2d372c7d",
        "mydb": "54a36c41ac4d5184",
        "name": "",
        "x": 1220,
        "y": 460,
        "wires": [
            [
                "e26528bb2e4488b7",
                "b477540e831d145d"
            ]
        ]
    },
    {
        "id": "72fee6814f5fb9bc",
        "type": "link out",
        "z": "8b3b89aa2d372c7d",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "cf3ceec3b4920882"
        ],
        "x": 1845,
        "y": 380,
        "wires": []
    },
    {
        "id": "cf3ceec3b4920882",
        "type": "link in",
        "z": "8b3b89aa2d372c7d",
        "name": "link in 1",
        "links": [
            "72fee6814f5fb9bc",
            "9e1471a83c8edf82"
        ],
        "x": 295,
        "y": 380,
        "wires": [
            [
                "6ca2f7f48a5bbcf1",
                "fa26210a2b281952"
            ]
        ]
    },
    {
        "id": "709586adf367058a",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 16",
        "func": "global.set(\"id\",msg.payload.id);\nnode.warn(global.get(\"id\"));\nmsg.url = \"http://localhost:1880/\"+ msg.payload.idfilename +\".jpg\";\nmsg.payload[\"Item List\"] = msg.payload.idlist;\nmsg.payload[\"Item Number\"] = msg.payload.idnum;\nmsg.payload[\"Item Location\"] = msg.payload.idloc;\nmsg.payload[\"Item Remark\"] = msg.payload.idremark;\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 380,
        "wires": [
            [
                "72fee6814f5fb9bc",
                "168111905c5015d1"
            ]
        ]
    },
    {
        "id": "190c848e7c618d90",
        "type": "comment",
        "z": "8b3b89aa2d372c7d",
        "name": "Insert data to the table",
        "info": "",
        "x": 1440,
        "y": 420,
        "wires": []
    },
    {
        "id": "6113e8ba7c5984c4",
        "type": "ui_dropdown",
        "z": "8b3b89aa2d372c7d",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Location_Lists",
        "group": "9a2d356c88f8dd7c",
        "order": 10,
        "width": 10,
        "height": 2,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1760,
        "y": 460,
        "wires": [
            [
                "86aeeb1b2b3a60c7"
            ]
        ]
    },
    {
        "id": "b477540e831d145d",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 18",
        "func": "var loc_lists = []\nfor (let i = 0; i < msg.payload.length; i++) {\n    loc_lists[i] = msg.payload[i].idloc;\n}\nmsg.options = loc_lists\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 460,
        "wires": [
            [
                "5ddcf5e1e1ae0c31"
            ]
        ]
    },
    {
        "id": "e1554aed387fba67",
        "type": "inject",
        "z": "8b3b89aa2d372c7d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "a556b7b91e88fede"
            ]
        ]
    },
    {
        "id": "a556b7b91e88fede",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 20",
        "func": "msg.topic = `SELECT * FROM list_setup;`\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "bc207e439935c4d1"
            ]
        ]
    },
    {
        "id": "bc207e439935c4d1",
        "type": "mysql",
        "z": "8b3b89aa2d372c7d",
        "mydb": "54a36c41ac4d5184",
        "name": "",
        "x": 1160,
        "y": 140,
        "wires": [
            [
                "e26528bb2e4488b7",
                "b477540e831d145d"
            ]
        ]
    },
    {
        "id": "b01ea57f97ec0710",
        "type": "comment",
        "z": "8b3b89aa2d372c7d",
        "name": "Initialize the table",
        "info": "",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "5ddcf5e1e1ae0c31",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 21",
        "func": "var arr = msg.options;\n\narr = arr.filter(function (value, index, array) {\n    return array.indexOf(value) === index;\n});\nmsg.options = arr;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 460,
        "wires": [
            [
                "6113e8ba7c5984c4"
            ]
        ]
    },
    {
        "id": "86b8f482f5bf7bb9",
        "type": "comment",
        "z": "8b3b89aa2d372c7d",
        "name": "List the values after eliminating the array comps",
        "info": "",
        "x": 1740,
        "y": 420,
        "wires": []
    },
    {
        "id": "593c672340d69be4",
        "type": "link out",
        "z": "8b3b89aa2d372c7d",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "5c94f055cbdf2651"
        ],
        "x": 2055,
        "y": 460,
        "wires": []
    },
    {
        "id": "5c94f055cbdf2651",
        "type": "link in",
        "z": "8b3b89aa2d372c7d",
        "name": "link in 2",
        "links": [
            "593c672340d69be4"
        ],
        "x": 215,
        "y": 220,
        "wires": [
            [
                "76a8a238abe67630"
            ]
        ]
    },
    {
        "id": "86aeeb1b2b3a60c7",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 22",
        "func": "var loc = msg.payload\nmsg.payload = {\"Item Location\":loc}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 460,
        "wires": [
            [
                "593c672340d69be4"
            ]
        ]
    },
    {
        "id": "830fb24f7ecb4022",
        "type": "ui_text_input",
        "z": "8b3b89aa2d372c7d",
        "name": "",
        "label": "Search",
        "tooltip": "",
        "group": "9a2d356c88f8dd7c",
        "order": 11,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 580,
        "y": 520,
        "wires": [
            [
                "0deed7a9b0d3988a"
            ]
        ]
    },
    {
        "id": "0deed7a9b0d3988a",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 23",
        "func": "var search_data = msg.payload\nvar sd = `'%${search_data}%'`\n\nmsg.topic = `select * from list_setup where idlist like ${sd};`;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 520,
        "wires": [
            [
                "bc095aa9ceadea42"
            ]
        ]
    },
    {
        "id": "bc095aa9ceadea42",
        "type": "mysql",
        "z": "8b3b89aa2d372c7d",
        "mydb": "54a36c41ac4d5184",
        "name": "",
        "x": 1220,
        "y": 520,
        "wires": [
            [
                "b9b24de89f40e965"
            ]
        ]
    },
    {
        "id": "b9b24de89f40e965",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 24",
        "func": "var id_lists = []\nfor (let i = 0; i < msg.payload.length; i++) {\n    id_lists[i] = msg.payload[i].id;\n}\nmsg.options = id_lists\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 520,
        "wires": [
            [
                "3e5aca4711a97644"
            ]
        ]
    },
    {
        "id": "3e5aca4711a97644",
        "type": "ui_table",
        "z": "8b3b89aa2d372c7d",
        "group": "9a2d356c88f8dd7c",
        "name": "Searched Items",
        "order": 12,
        "width": 10,
        "height": 8,
        "columns": [
            {
                "field": "idlist",
                "title": "List",
                "width": "40%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "idnum",
                "title": "Quantity",
                "width": "20%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "idloc",
                "title": "Location",
                "width": "20%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "idremark",
                "title": "Remark",
                "width": "20%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1600,
        "y": 520,
        "wires": [
            [
                "a58bf50d497d5ada"
            ]
        ]
    },
    {
        "id": "9e1471a83c8edf82",
        "type": "link out",
        "z": "8b3b89aa2d372c7d",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "cf3ceec3b4920882"
        ],
        "x": 1885,
        "y": 520,
        "wires": []
    },
    {
        "id": "a58bf50d497d5ada",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 25",
        "func": "global.set(\"id\",msg.payload.id);\nnode.warn(global.get(\"id\"));\nmsg.payload[\"Item List\"] = msg.payload.idlist;\nmsg.payload[\"Item Number\"] = msg.payload.idnum;\nmsg.payload[\"Item Location\"] = msg.payload.idloc;\nmsg.payload[\"Item Remark\"] = msg.payload.idremark;\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 520,
        "wires": [
            [
                "9e1471a83c8edf82"
            ]
        ]
    },
    {
        "id": "a582ea0cd857d613",
        "type": "ui_webcam",
        "z": "8b3b89aa2d372c7d",
        "name": "Item Image",
        "group": "3d0eceddfa2a7742",
        "order": 2,
        "width": 10,
        "height": 7,
        "countdown": false,
        "autoStart": true,
        "hideCaptureButton": false,
        "showImage": "2",
        "mirror": true,
        "format": "jpeg",
        "x": 610,
        "y": 280,
        "wires": [
            [
                "837fee7de5b1baed"
            ]
        ]
    },
    {
        "id": "3cebd594c4bf108c",
        "type": "comment",
        "z": "8b3b89aa2d372c7d",
        "name": "Scan Item Image when submit the item",
        "info": "",
        "x": 350,
        "y": 520,
        "wires": []
    },
    {
        "id": "dd1046d7951f8a90",
        "type": "file",
        "z": "8b3b89aa2d372c7d",
        "name": "",
        "filename": "filepath",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 900,
        "y": 280,
        "wires": [
            [
                "a9b424937211bd87"
            ]
        ]
    },
    {
        "id": "837fee7de5b1baed",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "",
        "func": "let now = new Date().toISOString().replace(/:/g, \"-\");\nnode.warn(now);\nmsg.idfilename = now;\nmsg.filepath = `C:\\\\temp\\\\img\\\\${now}.jpg`;\nmsg.topic = \"image\";\nmsg.capture = (msg.capture) ? 1 : 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 280,
        "wires": [
            [
                "dd1046d7951f8a90"
            ]
        ]
    },
    {
        "id": "83480bad19c394cd",
        "type": "function",
        "z": "8b3b89aa2d372c7d",
        "name": "function 26",
        "func": "if (msg.payload[\"Item Image\"]) {\n    msg.capture = true\n} else {\n    msg.capture = false\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "a582ea0cd857d613"
            ]
        ]
    },
    {
        "id": "a9b424937211bd87",
        "type": "join",
        "z": "8b3b89aa2d372c7d",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "4692bfd708c67f83",
                "9517bc46f0ea0cc2"
            ]
        ]
    },
    {
        "id": "9517bc46f0ea0cc2",
        "type": "debug",
        "z": "8b3b89aa2d372c7d",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "168111905c5015d1",
        "type": "ui_iframe",
        "z": "8b3b89aa2d372c7d",
        "group": "3dcbe76f309aa8a6",
        "name": "",
        "order": 6,
        "width": "12",
        "height": "8",
        "url": "",
        "origin": "*",
        "scale": 100,
        "x": 1910,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c5d7bd5970c7cf1e",
        "type": "ui_spacer",
        "z": "8b3b89aa2d372c7d",
        "name": "spacer",
        "group": "9a2d356c88f8dd7c",
        "order": 2,
        "width": 10,
        "height": 1
    },
    {
        "id": "c8069662f6938682",
        "type": "ui_spacer",
        "z": "8b3b89aa2d372c7d",
        "name": "spacer",
        "group": "9a2d356c88f8dd7c",
        "order": 3,
        "width": 10,
        "height": 1
    },
    {
        "id": "529f092d69fcc4e8",
        "type": "ui_spacer",
        "z": "8b3b89aa2d372c7d",
        "name": "spacer",
        "group": "9a2d356c88f8dd7c",
        "order": 4,
        "width": 10,
        "height": 1
    },
    {
        "id": "c6fa014ac6df0500",
        "type": "ui_spacer",
        "z": "8b3b89aa2d372c7d",
        "name": "spacer",
        "group": "9a2d356c88f8dd7c",
        "order": 5,
        "width": 10,
        "height": 1
    },
    {
        "id": "3bbd31c7a48ec6b5",
        "type": "ui_spacer",
        "z": "8b3b89aa2d372c7d",
        "name": "spacer",
        "group": "9a2d356c88f8dd7c",
        "order": 6,
        "width": 10,
        "height": 1
    },
    {
        "id": "586064011112b678",
        "type": "ui_spacer",
        "z": "8b3b89aa2d372c7d",
        "name": "spacer",
        "group": "9a2d356c88f8dd7c",
        "order": 7,
        "width": 10,
        "height": 1
    },
    {
        "id": "7c577d629076931f",
        "type": "ui_spacer",
        "z": "8b3b89aa2d372c7d",
        "name": "spacer",
        "group": "9a2d356c88f8dd7c",
        "order": 8,
        "width": 10,
        "height": 1
    },
    {
        "id": "950263bd8f258d58",
        "type": "ui_spacer",
        "z": "8b3b89aa2d372c7d",
        "name": "spacer",
        "group": "3dcbe76f309aa8a6",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "06ce2044577c41bb",
        "type": "ui_spacer",
        "z": "8b3b89aa2d372c7d",
        "name": "spacer",
        "group": "3dcbe76f309aa8a6",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "54a36c41ac4d5184",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "inventory",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "9a2d356c88f8dd7c",
        "type": "ui_group",
        "name": "Main_Program",
        "tab": "5cba7ea5b28de026",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d0eceddfa2a7742",
        "type": "ui_group",
        "name": "Item List from the DB",
        "tab": "5cba7ea5b28de026",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3dcbe76f309aa8a6",
        "type": "ui_group",
        "name": "Edit the List",
        "tab": "5cba7ea5b28de026",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5cba7ea5b28de026",
        "type": "ui_tab",
        "name": "Storage_Program",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]